/* stylelint-disable scss/dollar-variable-empty-line-before */

/* Colors */
// $color-background: #3e6259;
$color-background: #519161;

$color-white: #fff;
$color-black: #000;
$color-black-three: #333;

$color-text: #212922;
$color-hover: #25392c;
$color-primary: #62c370;
$color-secondary: #294936;
$color-url: #3e6259;
$color-error: #b92896;

/* Scaling */
$middle-big-screen-max-width: 1439px;
$middle-screen-max-width: 1199px;
$middle-screen-min-width: 1024px;
$mobile-screen-max-width: 480px;

/* Standard margins between white blocks */
$standard-gap-big: 25px;
$standard-gap-small: 15px;
